<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}">
    <title>Sklep z winem</title>
</head>
<body>

    <div class="container">
        
        <!-- Logo -->

        <div class="d-flex justify-content-center" id="title">
            <div class="p-2"><a href="/" class="float-left"><img src="{{url_for('static', path='/wine.png')}}" width="100" height="100"></a></div>
            <div class="p-2"><h1 class="display-4 float-right">Sklep z winem</h1></div>
        </div>      

        <!-- Navigation -->

        <ul class="nav nav-pills nav-fill text-center">
            <li class="nav-item" onclick="mainpage_click()">Strona główna</li>
            <li class="nav-item" onclick="user_panel()">Panel użytkownika</li>
            <li id="loginButton" class="nav-item" onclick="login_click()">Zaloguj/zarejestruj</li>
            <li class="nav-item"><div class="p-2"><img onclick="basket()" class="float-right" src="{{url_for('static', path='/shopping-basket-solid.svg')}}" width="30px" height="30px"></div></li>
        </ul>

        <!-- Main page
        Wines list -->

        <div id="wine-list">
            <table class="table table-striped" id="wine-table">
                <thead>
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cena</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <!-- Wine's details -->

        <div id="wine-container" hidden>
     
            <h1 id="wine-container-name"></h1>
            <p id="wine-container-desc"></p>
            
            <div class="d-flex justify-content-center">
                <div class="p-2"><p id="wine-container-price" class="float-left"></p></div>
                <div class="p-2"><button id="wine-container-basket-button" class="btn btn-success btn-lg btn-block float-right">Dodaj do koszyka</button></div>
            </div>
           
            <p id="wine-container-additional-info">Dodatkowe informacje:</p>
            
            <table class="table table-stripped" id="wine-container-table"></table>

            </table>

        </div>

        <!-- User panel -->

        <div id="user-panel" hidden>
            <br>
            <h1>Panel użytkownika</h1>
            <br>
            <h2>Zamówienia</h2>
            <br>
            <table class="table table-striped" id="user-panel-orders-table">
                <thead>
                    <tr>
                        <th scope="col">Numer zamówienia</th>
                        <th scope="col">Data złożenia zamówienia</th>
                        <th scope="col">Wartość zamówienia</th>
                        <th scope="col">Status zamówienia</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>

        <!-- Login page -->

        <div id="loginpage" hidden>
            
            <h2>Zaloguj się</h2>

            <form id="loginpageform">
                <div class="mb-3">
                    <label for="loginEmailInput">Email:</label>
                    <input type="email" id="loginEmailInput" class="form-control" placeholder="Podaj swój adres email">
                </div>
                <div class="mb-3">
                    <label for="loginPasswordInput">Hasło:</label>
                    <input type="password" id="loginPasswordInput" class="form-control" placeholder="Podaj hasło">
                </div>
                <button id="loginFormButton" type="button" class="btn btn-primary btn-lg btn-block" onclick="login()">Zaloguj</button>
                <button id="registerFormButton" type="button" class="btn btn-warning btn-lg btn-block" onclick="register()">Zarejestruj się</button>
            </form>

        </div>

        <!-- Basket -->

        <div id="basketpage" hidden>
            
            <h2>Koszyk</h2>
            
            <table class="table table-striped" id="basket-table">
                <thead>
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cena/szt</th>
                        <th scope="col">Ilość</th>
                        <th scope="col">Ilość * cena/szt</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button type="button" id="place-order-button" class="button btn-success btn-lg btn-block" onclick="place_order()">Złóż zamówienie</button>
        </div>
    
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', path='/main.js') }}"></script>


</body>
</html>