.container {
    text-align: center;
    margin: auto;
    width: 60%;
}

#title {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-item {
    cursor: pointer;
}

#wine-container {
    margin: auto;
    width: 50%;
}

#loginpageform {
    text-align: left;
}

.addToBasket {
    cursor: pointer;
}